# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Initial Data / Local DBs
*.sqlite
*.db
database/

# Logs
logs/
*.log

# Docker
docker-data/
postgres_data/
metabase_data/

# OS specific
.DS_Store
Thumbs.db
